<section id="viewAddhotel">
    <h2>Add new car</h2>
    <form action="/add" method="post" id="formAddhotel">
        <label for="brand">Car brand:</label>
        <input type="text" id="brand" name="brand" placeholder="Brand">
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" placeholder="Model">
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" placeholder="Price">
        <label for="imageUrl">Image:</label>
        <input type="text" id="imageUrl" name="imageUrl" placeholder="https://">
        <input type="submit" class="create" value="Add">
    </form>
</section>