<section id="viewAddhotel">
    <h2>Add new car</h2>
    <form action="/" method="post" id="formAddhotel">
        <label for="hotel">Car brand:</label>
        <input type="text" id="hotel" name="hotel" placeholder="Brand">
        <label for="city">Model:</label>
        <input type="text" id="city" name="city" placeholder="Model">
        <label for="free-rooms">Price:</label>
        <input type="number" id="free-rooms" name="free-rooms" placeholder="Price">
        <label for="imgUrl">Image:</label>
        <input type="text" id="imgUrl" name="imgUrl" placeholder="https://">
        <input type="submit" class="create" value="Add">
    </form>
</section>