<section id="viewhotelDetails">
    <h2>Details</h2>
    <div class="car-ticket">
        <div class="hotel-left">
            <img src="{{car.imageUrl}}" alt="">
        </div>
        <div class="car-right">
            <div>
                <h3>{{car.brand}}</h3>
            </div>
            <div>
                {{car.model}}
            </div>
            <p><span>{{car.price}} BGN</span> </p>

            <a href="" class="edit">Edit</a>
            <a href="" class="remove">Delete</a>
        </div>
    </div>
</section>