<section id="viewhotelDetails">
    <h2>Details</h2>
    <div class="car-ticket">
        <div class="hotel-left">
            <img src="https://image.freepik.com/free-vector/flat-hotel-building-town_52683-10040.jpg" alt="">
        </div>
        <div class="car-right">
            <div>
                <h3>Auckland Inn</h3>
            </div>
            <div>
                Auckland
            </div>
            <p><span>Free rooms: 43</span> </p>

            <a href="" class="edit">Edit</a>
            <a href="" class="remove">Delete</a>
        </div>

    </div>
</section>