<section id="viewCatalog" class="background-img">
    <div class="added-cars">
        <a href="/details/carId" class="added-car">
            <img src="https://g1-bg.cars.bg/2021-02-26_2/603929adc938c450593335f3o.jpg" alt=""
                class="picture-added-car">
            <h3>BMW 320 D</h3>
            <span>Price: 7000</span>
        </a>
        <a href="/details/carId" class="added-car">
            <img src="https://g1-bg.cars.bg/2020-12-07_2/5fcea3cb63f7b13f093caad2o.jpg" alt=""
                class="picture-added-car">
            <h3>Mercedes-Benz C 200</h3>
            <span>Price: 25,599</span>
        </a>
        <a href="/details/carId" class="added-car">
            <img src="https://g1-bg.cars.bg/2021-03-15_2/604f3358e20ed9044025b7f4o.jpg"
                alt="" class="picture-added-car">
            <h3>Audi A6 3.0TDi Quattro</h3>
            <span>Price: 45,500</span>
        </a>
    </div>
    <!-- <div class="guest">
                There are no Hotels found...
            </div> -->
</section>