<div class="search">
    <form action="/search/" method="get">
        <select name="searchBrand" id="searchBrand">
            <option selected disabled>Избери марка</option>
            <option value="all">Всички</option>
            {{#each brands}}
            {{>brandElement}}
            {{/each}}
        </select>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modelModal">
            Модел
        </button>
        <div class="modal fade" id="modelModal" tabindex="-1" role="dialog" aria-labelledby="modelModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Модели</h5>
                    </div>
                    <div class="modal-body" id="searchModel">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Приложи</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#regionModal">
            Регион
        </button>
        <div class="modal fade" id="regionModal" tabindex="-1" role="dialog" aria-labelledby="regionModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Регион</h5>
                    </div>
                    <div class="modal-body" id="searchRegion">
                        {{#each regions}}
                        {{>regionCheckboxElement}}
                        {{/each}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Приложи</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <select name="searchRegion" id="search-region">
            <option selected disabled>Избери регион</option>
            <option value="Варна">Варна</option>
            <option value="София">София</option>
        </select> --}}
        <input type="submit">
    </form>
</div>
<div class="container"></div>
<div class="row">
    {{#each cars}}
    {{>carElement}}
    {{/each}}
</div>
</div>


{{!-- <section id="viewCatalog" class="background-img">
    <div class="added-cars">
        {{#each cars}}
        {{>carElement}}
        {{/each}}
    </div>
</section> --}}